<p id="notice"><%= notice %></p>

<h1>Noticias:</h1>
<div id="masonry-container" class="grid">
  <% @noticia.each do |noticium| %>
      <div class="grid-item">
        <div class="thumbnail">
          <div class="caption">
            <h1><%= noticium.titulo %></h1>
            <h5><%= noticium.baja %></h5>
            <p><%= noticium.bodi %></p>
            <p><%= link_to 'Ver', noticium , class: "btn btn-primary active"%></p>
            <p style="position: left;"><%=noticium.comentarios.count%> Comments</p>
          </div>
          <span><%= noticium.created_at %></span>
        </div>
      </div>
      </tr>
    <% end %>
</div>


