<p id="notice"><%= notice %></p>

  <h1><%= @noticium.titulo %></h1><br>
  <h5><%= @noticium.bajada %></h5><br>
  <p><%= @noticium.cuerpo %></p>
 
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @noticium.comentarios.each do |comm| %>
      <tr>
      <td><%=comm.nombre%></td>
      <td><%=comm.comment%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h3>New Comentario</h3>

<%= render 'comentarios/form' %>
<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
