<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @noticium.titulo %>
</p>

<p>
  <strong>Bajada:</strong>
  <%= @noticium.bajada %>
</p>

<p>
  <strong>Cuerpo:</strong>
  <%= @noticium.cuerpo %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Comentario</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @noticium.comentarios.each do |comm| %>
      <tr>
      <td><%=comm.nombre%></td>
      <td><%=comm.comment%></td>
      </tr>
    <% end %>
  </tbody>
</table>
<h1>New Comentario</h1>

<%= render 'comentarios/form' %>

